@import url('https://fonts.googleapis.com/css2?family=Acme&family=Baloo+Tamma+2&family=Hind+Siliguri:wght@400;500&family=PT+Sans&family=Rowdies&family=Libre+Baskerville&family=Oswald:wght@500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App-header {
  background-color: #FFB001;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #FFFEFF;
}

.row{
  width: 70vw;
  margin: 1rem 0 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.col{
  width: 100% !important;
}

.card {
  border-radius: 10px 10px 10px 10px !important;
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75) !important;
}
.card-action{
  border-radius: 0px 0px 10px 10px !important;
}

.projectPage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Project page */

.projectContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #001335;
}

.title {
  font-weight: 700;
  font-family: 'Rowdies', cursive;
}

.body{
  white-space: pre-wrap;
  text-align: center;
  width: 80vw;
  margin-bottom: 2rem;
  font-family: 'Libre Baskerville', serif;
}

.separator{
  width: 60%;
  margin-bottom: 3rem;
  margin-bottom: 1rem;
  border: 0; 
  border-top: 1px solid rgba(0,0,0, .2)
}

/* Project List */

.card-body{
  font-family: 'Baloo Tamma 2', cursive;
}

.card-title{
  font-family: 'Acme', sans-serif;
}

/* add page */

.body-add {
  height: 20vh !important;
  width: 90vw !important;
}

.input-field label {
  color: rgb(38, 112, 141);
}

/* admin dashboard */

.approve-btn, .reject-btn{
  cursor: pointer;
}

.approve-btn:hover{
  color: rgba(0, 255, 255, 0.534) !important;
}

.reject-btn:hover {
  color: rgba(194, 66, 66, 0.747) !important;
}

.btn{
  margin: 1rem 0 2rem 0;
}

/* Nav */

nav{
  width: 90vw;
  background-color: #FFB001;
  margin: 0 0 2.5rem 0;

}

.nav-links{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.nav-links li a {
  font-family: 'Acme', sans-serif;
  color: #001335 !important;
  font-size: 1rem;
}

/* 404 */

.error {
  font-family: 'Rowdies', cursive;
  color: #001335;  
}

/* Homepage */

.home{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 1rem 4rem;
  color: #140035;
}
.head{
  font-family: 'Rowdies', cursive;
  text-shadow: -0.5px -0.5px 3px 
}

.content{
  font-family: 'Hind Siliguri', sans-serif;
  font-weight: 500;
}

.links {
  font-family: 'PT Sans', sans-serif;
  text-decoration: none;
  color: #140035;
}


/* media queries */

@media only screen and (max-width: 720px){
  .row{
    width: 90vw;
  }
  .body-add {
    height: 35vh !important;
    width: 80vw !important;
  }
  .loginFormInput {
    margin: 1rem 1rem 1rem 1rem !important;
    width: 90vw !important;
  }

}
