*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.row{
  width: 70vw;
  margin: 1rem 0 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.col{
  width: 100% !important;
  margin: auto !important;
}

.card {
  border-radius: 20px 20px 20px 20px !important;
  box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.75) !important;
}
.card-action{
  border-radius: 0px 0px 20px 20px !important;
}

.projectPage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* media queries */

@media only screen and (max-width: 720px){
  .row{
    width: 90vw;
  }
}
